@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body,html{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;

    --principal: #FFC107;
    --complement: #3E0A84;
    --complementDark: #300667;
    --secondary: #757575;
    --lightsecondary: rgb(230, 230, 230);
    --myBlack: #373435;

    background-color: var(--lightsecondary);

    /*overflow: hidden;*/
    
}

.imgBack{
    
    background-image: url(../img/signUp/signUpBack.jpg);
    background-size: cover;
    min-height: 100vh;
    
}

.overlay{
    
    
    background:rgba(122, 122, 122, 0.39);
    min-height: 100vh;
}

/*.title{
    padding-right: 30px;
    padding-top: 20px;
    text-align: center;
    color: var(--principal);
    
    font-weight: bolder;
    font-size: 3em;
}*/


/*-----------------------LOGO---------------------*/
.imgDiv{
    
    justify-content:center ;
    margin-bottom: 1em;
    margin-top: 1em;
}

img{
    height: 150px;
    width: 150px;
}


/*----------------------------------nav-tabs-----------------------------------------*/


/*.userSign button{
    color: var(--myBlack);
    font-weight: bolder;
    padding: 0;
    border: 1px solid var(--myBlack);
    width: 50%;
    margin:0;
    background: radial-gradient(rgb(247, 209, 97),#FFC107);
}*/


.nav-tabs{
    width: 100% !important; 
}

.nav-link{
    height: 3em;
    background:  var(--principal);
    font-size: 1.2em;
    display: flex;
    justify-items: center ;
    align-items: center;
}


.nav-item{
    width: 50%;
}


.nav-tabs .nav-link {
    border-radius: 0;
}

#SignIn-tab{
    border-radius: 6px 0px 0px 0px !important;
}

#SignUp-tab{
    border-radius: 0px 6px 0px 0px !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: var(--myBlack);
    border-color: var(--myBlack);
    font-weight: bolder;
}

.nav-link{
    color: var(--myBlack);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-weight: bolder;
    color: var(--myBlack);
    color: var(--myBlack);
    background:  rgb(214, 162, 7);
    border-color: #373435e8;
}

/*------------------------------form---------------------------------------*/

.container{
    border-radius: 0px 0px 6px 6px;
    width: 500px;
    padding: 30px 50px;
    background-color: #373435e8;
    margin-bottom: 3em;
    
}

.form-group{
    color: white;
}

form h1{
    color:var(--principal) ;
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}

.btn-primary{
    margin-top:30px;
    background-color: var(--principal);
    border: none;
    width: 100%;
}









