@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;

    /*global variable*/
    --principal: #FFC107;
    --complement: #3E0A84;
    --complementDark: #300667;
    --secondary: #757575;
    --lightsecondary: #BDBDBD;
    --myBlack: #373435;
    --text:#212121;

    
}

.firstView{
    background-color: var(--lightsecondary);
    height: 40vh;
    width: 100%;
}

.topcurved{
    height: 250px;
    background-color: var(--lightsecondary);
}

.relative{
    position: relative;
}

.boxes{
    position: absolute;
    width: 100%;
    z-index: 1;
}

/*COMPONENT CARD*/
.card {
    max-width: 370px;

    padding-top: 30px;
    height: fit-content;
    text-align: center;
    border-radius: 5%;
    box-shadow: 2px 2px 10px 0px #888888;
    margin:auto;
    margin-bottom: 30px;
    animation: 2s slide-up;
}



@keyframes slide-up {
    from {
      position: relative;
      top:-300px ; 
    }
  
    to {
        top:0px;
    }
}

.card-img-top{
    position: relative;
    margin: auto;
    border-radius: 30%;
    height: 60%;
    width: 60%;
    background-color: var(--principal);
    border-bottom: 20px solid var(--complement);
    border-left: 20px solid var(--complement);
    border-top: 5px solid var(--complement);
    border-right: 5px solid var(--complement);
}

.card-title{
    color: var(--complement);
    font-size: 3em;
    font-weight: bolder;
}

.card-text{
    color:var(--secondary); 
}

