@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;

    /*global variable*/
    --principal: #FFC107;
    --secondary: #757575;
    --lightsecondary: #BDBDBD;
    --myBlack: #373435;
    --text:#212121;

    
}

section{
    width: 100%;
    min-height: 1000px;
}

.topcurved{
    height: 250px;
    background-color: var(--lightsecondary);
}

.relative{
    position: relative;
}

.boxes{
    position: absolute;
    width: 100%;
    z-index: 1;
}

/*
.cardlt{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin:auto;
    justify-items: center;
    
}*/

.card {
    max-width: 370px;

    padding-top: 30px;
    height: fit-content;
    text-align: center;
    border-radius: 5%;
    box-shadow: 2px 2px 10px 0px #888888;
    margin:auto;
    margin-bottom: 30px;
    animation: 2s slide-up;
}

.card-title{
    color: var(--text);
    font-size: 3em;
}

.card-text{
    color:var(--secondary); 
}

@keyframes slide-up {
    from {
      position: relative;
      top:-300px ; 
    }
  
    to {
        top:0px;
    }
}

.card img{
    margin: auto;
    border-radius: 30%;
    height: 60%;
    width: 60%;
    background-color: var(--principal);
}

.card .btn-primary{
    background-color: white;
    color: var(--principal);
    border:1px solid var(--principal) ;
}

