@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

  /*-----------------------------*/
body,html{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;

    --principal: #FFC107;
    --principalDark:#D6A207;
    --complement: #3E0A84;
    --complementDark: #300667;
    --secondary: #757575;
    --lightsecondary: rgb(230, 230, 230);
    --myBlack: #373435;

    background-color: var(--lightsecondary);
}
/*-----------------------Nav--------------------*/
a:hover {
  text-decoration: none;
}

.userLink{
  color: var(--principal);
}

/*NAV logged*/
.userEmail{
  color: var(--secondary);
  margin-bottom: 1em;
  
}
.userName{
  color: var(--myBlack);
  margin-bottom: 0;
}

.accountInfo{
  border-bottom: 1px solid var(--lightsecondary);
  margin-bottom: 6px;
  padding-bottom: 6px;
}

.dropdown .btn-outline-primary{
  border: none;
}

.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--principalDark);
}

/*---------------Header-----------------*/
.divHeader{
  background-color: var(--myBlack);
  border-color: var(--myBlack);
  
}

.container{
  padding: 2em 0em;
}

.divHeader .brandName{
  color: var(--principal);
  font-size: 1.5em;
}

.divHeader .btn-outline-primary{
  border-color: var(--principal);
  color: var(--principal);
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow:none;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
  color: var(--principal);
  background-color: var(--myBlack);
  border-color: var(--principal);
}

.btn-outline-primary:hover {
  color: var(--principal);
  background-color: var(--myBlack);
  border-color: var(--principal);
}
/*------jumbotron--------*/
.jumbotron{
  background-image: url(../img/SubBusiness/business.jpg);
  background-size: cover;
  background-position: center center;
  border-radius: 0;
}

.jumbotronOverlay{
  background-color: rgba(36, 36, 36, 0.637);
}

.jumbotron img{
    max-height: 200px;
}
.jumbotron h1{
  color: var(--principal);
  
  font-size: 3em;
}
.jumbotron .text-muted{
  color: white !important;
}
.jumbotron .btn-primary{
  border-color: var(--principal);
  color: var(--principal);
  background-color: transparent;
  width:50%;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: var(--principal);
  background-color: transparent;
  border-color: var(--principal);
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-primary.focus, .btn-primary:focus {
  
  box-shadow: none;
}

@media only screen  and (max-width: 768px){
  .jumbotron img{
    max-height: 100px;
  }
  
  .jumbotron h1{
    font-size: 2.5em;
  }

  .jumbotron .text-muted{
    font-size: 1em;
  }
}
/*--------------------Plans---------------------*/



.card-body{
  background-color: var(--myBlack);
  color: white;
}
 .text-muted{
  color: var(--secondary) !important;
}

.card-header{
  background-color: var(--principal);
}

.btn-outline-primary {
  color: var(--principal);
  border-color: var(--principal);
}

.btn-outline-primary:hover {
  background-color: rgba(218, 166, 8, 0.329);
}
.btn-primary {
  background-color: var(--principal);
  border-color: var(--principal);
}
.btn-primary:hover {
  background-color: rgb(218, 165, 8);
  border-color: white ;
}

@media only screen  and (max-width: 768px){
  .card .text-muted{
    font-size: 0.7em;
  } 

  .display-4 {
    font-size: 2.4rem;
    font-weight: 500;
  }

  .lead {
    font-size: 1rem;
    font-weight: 500;
  }


}

/*--------------------------signUp--------------------------*/


/*.modal-content {
  color: var(--principal);
  background-color: var(--secondary);
  border: 1px solid rgba(0,0,0,.2);
}*/


.correct{
  /*box-shadow: 0 1px 0 0.1rem  #28a745;*/
  border-bottom: 3px solid #28a745;
  color: #28a745;
  font-weight: 600;
}

.wrong{
  border-bottom: 3px solid #dc3545;
  color: #dc3545;
  font-weight: 600;
}

.form-control:focus {
  border:none ;
  box-shadow: 0 0 0 0.1rem #37343554; 
}

/*input{
  background-color: var(--myBlack) !important;
  color: white !important;
  border:none !important;
}*/

.modal-header {
 color: var(--principal);
 background-color: var(--myBlack);
 border-radius: 2px;
}

.modal-footer {
  color: var(--principal);
 background-color: var(--myBlack);
 border-radius: 2px;
}

.modal-body {
  background-color: var(--lightsecondary);
}

.modal-title {
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  
}