@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
body,html{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;

    --principal: #FFC107;
    --principalDark:#D6A207;
    --complement: #3E0A84;
    --complementDark: #300667;
    --secondary: #757575;
    --lightsecondary: rgb(230, 230, 230);
    --myBlack: #373435;

    background-color: var(--myBlack);
}
/*-----------------------Nav--------------------*/
a:hover {
  text-decoration: none;
}

.userLink{
  color: var(--principal);
}

/*NAV logged*/
.userEmail{
  color: var(--secondary);
  margin-bottom: 1em;
  
}
.userName{
  color: var(--myBlack);
  margin-bottom: 0;
}

.accountInfo{
  border-bottom: 1px solid var(--lightsecondary);
}

.dropdown .btn-outline-primary{
  border: none;
}

.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--principalDark);
}

.btn-outline-primary:hover {
  background-color: rgba(218, 166, 8, 0.329);
}
  /*---------------Header-----------------*/
  .divHeader{
    background-color: var(--myBlack);
    border-color: var(--myBlack);
    
  }
  
  .container{
    padding: 2em 0em;
  }
  .divHeader h5{
    color: var(--principal);
    font-size: 1.5em;
  }
  
/*BUTTONs*/
  .divHeader .btn-outline-primary{
    border-color: var(--principal);
    color: var(--principal);
  }
  
  .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: none;
  }
  
  .btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow:none;
  }
  
  .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: var(--principal);
    background-color: var(--myBlack);
    border-color: var(--principal);
  }
  
  .btn-outline-primary:hover {
    color: var(--principal);
    background-color: var(--myBlack);
    border-color: var(--principal);
  }

  .divHeader .btn-outline-primary{
    border-color: var(--principal);
    color: var(--principal);
  }
  
  .btn-outline-primary {
    color: var(--principal);
    border-color: var(--principal);
  }
  
  .btn-outline-primary:hover {
    background-color: rgba(218, 166, 8, 0.329);
  }
  .btn-primary {
    background-color: var(--principal);
    border-color: var(--principal);
  }
  .btn-primary:hover {
    background-color: rgb(218, 165, 8);
    border-color: white ;
  }

  

  /*collapse*/
  /*.navbar{
    background-color: var(--myBlack);
  }

  .navbar-light .navbar-brand {
    color: var(--principal);
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: white;
}

.divHeader{
    display: none !important;
  }
*/

  
  .navbar-toggler{
    color: white;
  }
  .horizontalNavs{
    display: none;
  }

  .collapseButton{
    display: none;
  }

  @media only screen  and (max-width: 768px){
    .horizontalNavs{
      display: inline;
    }

    .verticalNavs{
      display: none;
    }

  }

  /*nav-pills*/
.verticalNavs{
  height: 100%;

}
.nav-pills{
  background-color: var(--myBlack);
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color:var(--principalDark);
  text-decoration: none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: var(--principalDark);
}

.nav-pills .nav-link {
  border-radius: 0;
}

/*-------------------------------------------------------home/*-------------------------------------------------------*/
.tab-pane h2{
  color: var(--myBlack);
  font-weight: 600;
  font-size: 1.5em;
  
}

.titleNav{
  width: 100%;
  margin-bottom: 2em;
  border-bottom: 1px solid var(--principalDark);
}

.titleNav h1{  
  font-weight: bolder;
  color: var(--principalDark);
}

.tab-content{
  background-color: var(--lightsecondary);
}

/*-------------------------------------------------------PROFILE-------------------------------------------------------*/
#v-pills-profile{
  
}

/*Banner and header*/
#sectionProfilebusiness{
  
  margin-top: 3em ;
  padding-right: 3em ;
  padding-left: 3em;
  background-color: white;
}

#headerprofiles{
  display: flex;
}

.businessInfo{
  margin-top: 1.5em;
}

.businessName{
  color: var(--myBlack);
  font-size: 3em;
  font-weight: bold;
  border-bottom: 1px solid var(--principal);
  margin-right: 1em;
  margin-bottom: 16px;
}

.businesDesc{
  padding-right: 2em;
  color: var(--secondary);
  font-size: 0.9em;
}

.btn-outline-info{
  color: var(--principal);
  border: 1px solid var(--principal);
}

.btn-outline-info:hover{
  color: var(--lightsecondary);
  background-color: var(--principalDark);
  border: 1px solid var(--principalDark);
}

/*profile-products (cards)*/

.card{
  background-color: var(--myBlack);
  margin-top: 1em;
}
.card-img-top{
  background-size: cover;
  background-position: center center;
  min-height:250px;
} 

.rateProduct{
color: var(--principal); 
text-align: center;
text-shadow: 1px 1px 0px #7575754a;
}

.quantUser{
color: white;
}

.saleProduct{
padding: 10px 0px;
display: grid;
grid-template:1fr 1fr/1fr 2fr ;
}

.sale{
grid-row: auto/span 2;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid var(--principal);
border-radius: 6px;
color: var(--principal);
padding: 5px;
font-weight: bolder;
}

.prices{
text-align: right;
grid-row: auto/span 2; 
margin-top: auto;
margin-bottom: auto;
}
.beforePrice{
text-decoration: line-through;
font-size: 0.8em;
color:var(--secondary);
}
.nowPrice{
  color: white;
font-weight: bold;
}


.btn-outline-secondary {
color: var(--principal);
border-color:var(--principal);
background-color: var(--myBlack);
}

/*ProductForm*/

.descProducts{
  color: var(--lightsecondary);
}

.formProducts{
  border-radius: 5px;
  background-color: white;
  margin: 2em 15em;
  padding: 1em 3em;
}

.formTitle{
  text-align: center;
  font-weight: 500;
}