@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    min-width: 400px;
    z-index: -1;

    /*global variable*/
    --principal: #FFC107;
    --complement: #3E0A84;
    --complementDark: #300667;
    --secondary: #757575;
    --lightsecondary: #BDBDBD;
    --myBlack: #373435;
    --text:#212121;

    --border-size: 2px;
    --alpha1:-4;
    --alpha2:-2;
}


.navbar{
    background-color:var(--principal) ;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.171);
}

.navbar-light .navbar-nav .nav-link {
    color:white;
}

.navbar-light .navbar-brand {
    color: white;
    font-weight: bolder;
    font-size: 2em;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--complement);
}

.navbar-light .navbar-brand:hover {
    color: white;
}

/*------------------------HEADER------------------------*/
header{
    height: 100vh;
    width: 100%;
    
    
    background-image: url(./img/collage/backsa.JPG);
    
    background-repeat: no-repeat;
     background-size: cover;
    background-attachment: fixed;
    background-position: center  center;
    
}


.overlay{
    height: 100%;
    background:rgba(122, 122, 122, 0.616);
}

.descDiv{
    padding: 100px;
    padding-top: 200px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
}

.descriptionTitle{
    grid-row: 1/span 1;
    color: var(--principal);
    font-size: 4em;
    font-weight: bolder;
}
.description{
    grid-row: 2/span 1;
    color: white;
    font-size: 2em;
    text-align: justify;
}

.descButton{
    grid-row: 3/span 1;
    margin-top: 30px;
    

}

.descButton button{
    position: relative;
    background-color: var(--principal);
    border:none;
    width: 100%;
    height: 60px;
    color: white;
    font-size: 2em;
    font-weight: bolder;
    
    border-radius: 6px 6px 6px 6px;
    transition: color 300ms ease-in-out;
}

button:focus{
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
    box-shadow: none;
    outline-color: red;
}


 /*Border-Pop*/

 .descButton button{
    z-index: 0;

    
}
.descButton button:before{
    content: "";
    border-radius: 6px 6px 6px 6px;
    background-color: var(--complement) ;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    z-index: -1;
    

    transform:scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
}
.descButton button:hover:before,
.descButton button:focus:before{
    transform:scaleX(1);
}

.descButton button:hover,
.descButton button:focus{
    color: var(--principal);
}


/*-----------------*/
.logo{
    margin-left: auto;
    /*margin-right: auto;*/

    grid-column: 2/-1;
    grid-row: 1/span 3;
}

/*------------------------------------------------*/
section{
    background-color: white;
    z-index: 1;
}


.relative{
    position: relative;
}

.absolute{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}



/*ACCOUNTS INFO*/


/*---------------COMPONENT CARD-------------------------*/
.card {
    max-width: 370px;


    padding-top: 30px;
    height: fit-content;
    text-align: center;
    border-radius: 5%;
    box-shadow: 3px 2px 3px 0px #84888747;
    margin:auto;
    margin-bottom: 30px;
    animation: 2s slide-ups;
}

@media only screen and (max-width: 768px) {
    .card{
        background-color: transparent;
        top:100px;
        min-width: none;
        width:auto;
        box-shadow: none;
        border: none;
    }
}

@keyframes slide-up {
    from {
      position: relative;
      top:-300px ; 
    }
  
    to {
        top:0px;
    }
}

.card-img-top{
    
    margin: auto;
    border-radius: 30%;
    height: 60%;
    width: 60%;
    background-color: var(--principal);
    border-bottom: 20px solid var(--complement);
    border-left: 20px solid var(--complement);
    border-top: 5px solid var(--complement);
    border-right: 5px solid var(--complement);
}

.card-title{
    color: var(--complement);
    font-size: 3em;
    font-weight: bolder;
}

.card-text{
    color:var(--secondary); 
}

/*-----------------------------------------------------------*/