@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    min-width: 400px;
    z-index: -1;

    /*global variable*/
    --principal: #FFC107;
    --complement: #3E0A84;
    --complementDark: #300667;
    --secondary: #757575;
    --lightsecondary: #BDBDBD;
    --myBlack: #373435;
    --text:#212121;

    
}




.navbar{
    background-color:var(--principal) ;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    right: 0;
}

.nav-link{
    color: white;
}

.navbar-collapse{
    margin-left: auto;
}

header{
    height: 100vh;
    width: 100%;
    
    
    background-image: url(./img/collage/backsa.JPG);
    
    background-repeat: no-repeat;
     background-size: cover;
    background-attachment: fixed;
    background-position: center  center;
    
    /*position: sticky;
    top: 0;
    left: 0;*/
}


.overlay{
    height: 100%;
    background:rgba(122, 122, 122, 0.616);
    position: relative;
}

.descDiv{
    padding: 100px;
}

.descriptionTitle{
    color: var(--principal);
    font-size: 4em;
    font-weight: bolder;
}
.description{
    color: white;
    font-size: 2em;
    
}

section{
    background-color: white;
    z-index: 1;
}
.relative{
    position: relative;
}

.absolute{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


/*---------------COMPONENT CARD-------------------------*/
/*.boxes{
    position:absolute;
    width: 100%;
    z-index: 1;
}*/

.card {
    max-width: 370px;


    padding-top: 30px;
    height: fit-content;
    text-align: center;
    border-radius: 5%;
    box-shadow: 3px 2px 3px 0px #84888747;
    margin:auto;
    margin-bottom: 30px;
    animation: 2s slide-ups;
}

@media only screen and (max-width: 768px) {
    .card{
        background-color: transparent;
        top:100px;
        min-width: none;
        width:auto;
        box-shadow: none;
        border: none;
    }
}

@keyframes slide-up {
    from {
      position: relative;
      top:-300px ; 
    }
  
    to {
        top:0px;
    }
}

.card-img-top{
    
    margin: auto;
    border-radius: 30%;
    height: 60%;
    width: 60%;
    background-color: var(--principal);
    border-bottom: 20px solid var(--complement);
    border-left: 20px solid var(--complement);
    border-top: 5px solid var(--complement);
    border-right: 5px solid var(--complement);
}

.card-title{
    color: var(--complement);
    font-size: 3em;
    font-weight: bolder;
}

.card-text{
    color:var(--secondary); 
}

/*-----------------------------------------------------------*/