@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');*/
body,html{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    padding-right: 0.5em;

    --principal: #FFC107;
    --principalDark:#D6A207;
    --complement: #3E0A84;
    --complementDark: #300667;
    --secondary: #757575;
    --lightsecondary: #BDBDBD;
    --backgroundgrey: rgb(235, 235, 235);
    --myBlack: #373435;

    background-color: var(--myBlack);
}
/*-----------------------Nav--------------------*/
a:hover {
  text-decoration: none;
}

.userLink{
  color: var(--principal);
}

/*NAV logged*/
.userEmail{
  color: var(--secondary);
  margin-bottom: 1em;
  
}
.userName{
  color: var(--myBlack);
  margin-bottom: 0;
}

.accountInfo{
  border-bottom: 1px solid var(--lightsecondary);
}

.dropdown .btn-outline-primary{
  border: none;
}

.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--principalDark);
}

.btn-outline-primary:hover {
  background-color: rgba(218, 166, 8, 0.329);
}
/*logged*/
.userEmail{
  color: var(--secondary);
  margin-bottom: 1em;
  
}
.userName{
  color: var(--myBlack);
  margin-bottom: 0;
}

.accountInfo{
  border-bottom: 1px solid var(--lightsecondary);
  margin-bottom: 6px;
  padding-bottom: 6px;
}

.dropdown .btn-outline-primary{
  border: none;
}

.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--principalDark);
}
  /*---------------Header-----------------*/
  .divHeader{
    background-color: var(--myBlack);
    border-color: var(--myBlack);
    
  }
  
  .container{
    padding: 2em 0em;
  }
  .divHeader h5{
    color: var(--principal);
    font-size: 1.5em;
  }
  
/*BUTTONs*/
  .divHeader .btn-outline-primary{
    border-color: var(--principal);
    color: var(--principal);
  }
  
  .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: none;
  }
  
  .btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow:none;
  }
  
  .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: var(--principal);
    background-color: var(--myBlack);
    border-color: var(--principal);
  }
  
  .btn-outline-primary:hover {
    color: var(--principal);
    background-color: var(--myBlack);
    border-color: var(--principal);
  }

  .divHeader .btn-outline-primary{
    border-color: var(--principal);
    color: var(--principal);
  }
  
  .btn-outline-primary {
    color: var(--principal);
    border-color: var(--principal);
  }
  
  .btn-outline-primary:hover {
    background-color: rgba(218, 166, 8, 0.329);
  }
  .btn-primary {
    background-color: var(--principal);
    border-color: var(--principal);
  }
  .btn-primary:hover {
    background-color: rgb(218, 165, 8);
    border-color: white ;
  }


  
  .navbar-toggler{
    color: white;
  }
  .horizontalNavs{
    display: none;
  }

  .collapseButton{
    display: none;
  }

  @media only screen  and (max-width: 768px){
    .horizontalNavs{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 2em;
    }

    .verticalNavs{
      display: none;
    }

    .nav-tabs .nav-link.active {
      color: var(--myBlack);
      background-color: var(--backgroundgrey);
      border: none;
    }

    .horizontalNavs a {
      color: var(--backgroundgrey);
      background-color: transparent;
      border: 1px solid green;
    }

    .nav-tabs .nav-link {
      border-bottom: none !important;
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
    }


  }

  /*nav-pills*/
.verticalNavs{
  height: 100%;

}
.nav-pills{
  background-color: var(--myBlack);
  height: 100%;
}

.verticalNavs a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

.verticalNavs a:hover {
  color:var(--principalDark);
  text-decoration: none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: var(--principalDark);
}

.nav-pills .nav-link {
  border-radius: 0;
}

/*-------------------------------------------------------home/*-------------------------------------------------------*/


.tab-content{
  background-color: var(--backgroundgrey);
}

/*-------------------------------------------------------PROFILE-------------------------------------------------------*/


/*Banner and header*/
#sectionProfilebusiness{
  
  margin-top: 3em ;
  padding-right: 3em ;
  padding-left: 3em;
  background-color: white;
}

#headerprofiles{
  display: flex;
  flex-direction: row;
}

#headerprofiles{
  display: flex;
  flex-direction: row;
}

.businessInfo{
  margin-top: 1.5em;
}

.bannerImg{
  height: 18em;
  overflow: hidden;
  background-position: center center; 
  background-size: cover;
}

.profileImg{
  height: 15em;
}

.businessName{
  color: var(--myBlack);
  font-size: 3em;
  font-weight: bold;
  border-bottom: 1px solid var(--principal);
  margin-right: 1em;
  margin-bottom: 16px;
}

.businesDesc{
  padding-right: 2em;
  color: var(--secondary);
  font-size: 0.9em;
}

ul .btn-outline-warning{
  color: var(--principal);
  border: 1px solid var(--principal);
}

ul .btn-outline-warning:hover{
  color: white;
  background-color: var(--principalDark);
  border: 1px solid var(--principalDark);
}

/*profile-products (cards)*/

.card{
  background-color: var(--myBlack);
  margin-top: 1em;
}
.card-img-top{
  background-size: cover;
  background-position: center center;
  min-height:250px;
} 

.rateProduct{
color: var(--principal); 
text-align: center;
text-shadow: 1px 1px 0px #7575754a;
}

.quantUser{
color: white;
}

.saleProduct{
padding: 10px 0px;
display: grid;
grid-template:1fr 1fr/1fr 2fr ;
}

.sale{
grid-row: auto/span 2;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid var(--principal);
border-radius: 6px;
color: var(--principal);
padding: 5px;
font-weight: bolder;
}

.prices{
text-align: right;
grid-row: auto/span 2; 
margin-top: auto;
margin-bottom: auto;
}
.beforePrice{
text-decoration: line-through;
font-size: 0.8em;
color:var(--secondary);
}
.nowPrice{
  color: white;
font-weight: bold;
}


.btn-outline-secondary {
color: var(--principal);
border-color:var(--principal);
background-color: var(--myBlack);
}

@media only screen and (max-width:768px){
  #headerprofiles{
    flex-direction: column-reverse;
  }

  #sectionProfilebusiness{
    margin-top: 0;
  }

  .businessName{
    text-align: center;
  }
  .bannerImg{
    height: 7em;
    background-position: center;
  }

  .profileImg{
    align-self: center;
    height: 8em;
    width: 8em;
  }
  .businessName{
    margin-left: auto;
    margin-right: auto;
  }
}

/*-----------------------------------------------------------ProductForm-----------------------------------------------------------*/

.descProducts{
  color: var(--lightsecondary);
}

@media only screen and (max-width:768px){
  .colForm{
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .formProducts{
    box-shadow:0px 0px 0.2em 0.2em var(--lightsecondary) !important;
  }
}


.formProducts{
  border-radius: 5px;
  
  box-shadow:2px 2px 0.2em 0.1em var(--lightsecondary);
  background-color: linear-gradient( var(--myBlack),#4e494e);
  background-color: var(--myBlack);
  
  color: white;
  
  padding: 1em 3em;
  margin: 2em 0em ;
}

.formTitle{
  font-size: 2em;
  text-align: center;
  font-weight: 500;
  color: var(--principal) ;

}

.productsSection{
  padding: 1em 2em;
  
}

/*------------------------------------------------branch offices------------------------------------------------*/

#mapDiv{
  display: flex;
  justify-content: center;
  height: 22em;
  position: relative;
}

@media only screen and (max-width:768px){
  .colMap{
    margin-top: 2em;
    padding-right: 0 !important;
  }
 
}

#map{
  height: 22em;
  position: absolute;
  top: 0; 
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}


.saveBO{
  
  margin-left: auto;
  margin-right: auto;
  background-color: var(--myBlack);
  /*color: #dc3545;*/
  color: var(--principal);
  font-size: 1.6em;
  border-radius: 60%;
  border: 1px solid var(--principal);
  
}

.saveBO:hover{
  margin-left: auto;
  margin-right: auto;
  background-color: var(--principal);
  color: var(--myBlack);
  border-color: var(--myBlack);
  
}

#LatLonRow .fa-map-marker-alt{
  cursor: pointer;
}

#LatLonRow .fa-trash-alt{
  cursor: pointer;
}

.table {
  color: var(--myBlack);
}

.table .thead-dark th {
  color: #fff;
  background-color: var(--myBlack);
  border-color: var(--myBlack);
}

.inputLatLon{
  /*background-image: linear-gradient( var(--myBlack),#4e494e);*/
  background-color: #373435;
  color: var(--principal);
  padding: 1.2em 1em;
  border-radius: 6px;
  box-shadow:2px 2px 0.2em 0.1em var(--lightsecondary);
}



/*-------------titles------------------*/




.titleNav{
  width: 100%;
  margin-bottom: 2em;
  border-bottom: 1px solid var(--lightsecondary);
}

.titleNav h2{  
  font-weight: bolder;
  color: var(--principal);
}


.title{
  width: 100%;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-left: 1em;
}
.title h3{
  font-size: 1.2em;
  font-weight: bold;
  color: #FFA000;
  color: var(--secondary);
}


@media only screen and (max-width:768px){ 
  .titleNav{
    margin-left: 1em;
  }
}